html
{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
}

body
{
    padding: 0;
    margin: 0;
}

#content
{
    padding-left: 1em;
    padding-bottom: 1em;
}

ul.error_list
{
    list-style-type: none;
    -webkit-padding-start: 0px;
}

ul.error_list li a
{
    font-family: monospace;
    color: blue;
}

ul.error_list li a:hover
{
    text-decoration: none;
}

textarea
{
    width: 800px;
    height: 400px;
}
